<div class="about-container">
    <div class="header-section">
        <h1>About Me</h1>
        <div class="image-container">
            <img src="/profile.jpg" alt="Profile Picture"/>
        </div>
    </div>
    
    <div class="section">
        <h2>Who am I?</h2>
        <p>
            Passionate and detail-oriented Computer Science student with a strong foundation in backend development, event-driven architectures, and scalable systems. Experienced in designing and implementing robust web applications, algorithmic trading systems, and cloud-based solutions. Familiar with integrating modern technologies like Apache Kafka for real-time data streaming and enhancinguser engagement. Certified in Backend Development and Microsoft AZ-900 Cloud Fundamentals.Committed to delivering innovative software solutions in dynamic, team-oriented environments.
        </p>
    </div>
     <div class="section">
        <h2>Technologies and Tools</h2>
        <p>
            As a Computer Science student, I've taken initiative to expand my skillset beyond the classroom by self-learning numerous modern technologies and development tools. This combination of academic fundamentals and practical expertise allows me to tackle diverse software engineering challenges.
        </p>
    </div>
</div>