.homepage {
    background-image: url('../../../assets/images/clouds.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding-left: 4rem;
    align-items: center;
    position: relative;
  }

  .content {
    color: white;
    z-index: 1;
  }
 
 h1 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 0.001rem;
    color: black;
 }
 
 .title {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 800;
    color: #4285f4;
    margin-bottom: 1.5rem;
 }
 
 .description {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
    color: black;
 }
 

 /* Optional: Add a semi-transparent overlay to ensure text readability */
 homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
 } 

 